* text=auto !eol
/FeatureSelector.exe -text
/FeatureSelector.xml -text
/LAIR.Collections.dll -text
/LAIR.Collections.xml -text
/LAIR.Extensions.dll -text
/LAIR.Extensions.xml -text
/LAIR.IO.dll -text
/LAIR.IO.xml -text
/LAIR.MachineLearning.dll -text
/LAIR.MachineLearning.xml -text
/LAIR.Math.dll -text
/LAIR.Math.xml -text
/LAIR.Misc.dll -text
/LAIR.Misc.xml -text
/LAIR.Morphology.dll -text
/LAIR.Morphology.xml -text
/LAIR.ResourceAPIs.GraphViz.dll -text
/LAIR.ResourceAPIs.GraphViz.xml -text
/LAIR.ResourceAPIs.MySQL.dll -text
/LAIR.ResourceAPIs.MySQL.xml -text
/LAIR.ResourceAPIs.PostGIS.dll -text
/LAIR.ResourceAPIs.PostGIS.xml -text
/LAIR.ResourceAPIs.PostgreSQL.dll -text
/LAIR.ResourceAPIs.PostgreSQL.xml -text
/LAIR.ResourceAPIs.R.dll -text
/LAIR.ResourceAPIs.R.xml -text
/LAIR.XML.dll -text
/LAIR.XML.xml -text
/Mono.Security.dll -text
/MySql.Data.dll -text
/Newtonsoft.Json.dll -text
/Newtonsoft.Json.xml -text
/Npgsql.EntityFramework.dll -text
/Npgsql.EntityFramework.xml -text
/Npgsql.EntityFrameworkLegacy.dll -text
/Npgsql.EntityFrameworkLegacy.xml -text
/Npgsql.dll -text
/Npgsql.xml -text
