<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCMUT.EMRCorefResol.English.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HCMUT.EMRCorefResol.English.Keywords" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HCMUT.EMRCorefResol.English.Properties.Settings>
            <setting name="DoctorTitles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>audiologist</string>
                        <string>allergist</string>
                        <string>andrologist</string>
                        <string>anesthesiologist</string>
                        <string>cardiologist</string>
                        <string>cardiovascular surgeon</string>
                        <string>clinical neurophysiologis</string>
                        <string>dentist</string>
                        <string>dermatologist</string>
                        <string>dmergency doctors</string>
                        <string>endocrinologist</string>
                        <string>epidemiologist</string>
                        <string>ent specialist</string>
                        <string>family practitioner</string>
                        <string>gastroenterologist</string>
                        <string>gynecologist</string>
                        <string>general psychiatrist</string>
                        <string>hematologist</string>
                        <string>hepatologist</string>
                        <string>immunologist</string>
                        <string>infectious disease specialist</string>
                        <string>internal medicine specialist</string>
                        <string>internist</string>
                        <string>medical geneticist</string>
                        <string>microbiologist</string>
                        <string>neonatologist</string>
                        <string>nephrologists</string>
                        <string>neurologist</string>
                        <string>neurosurgeons</string>
                        <string>obstetrician</string>
                        <string>oncologist</string>
                        <string>ophthalmologist</string>
                        <string>orthodontist</string>
                        <string>orthopedic surgeon</string>
                        <string>orthopedist</string>
                        <string>primatologist</string>
                        <string>pale pathologist</string>
                        <string>parasitologist</string>
                        <string>pathologist</string>
                        <string>pediatrician</string>
                        <string>plastic surgeon</string>
                        <string>physiologist</string>
                        <string>physiatrist</string>
                        <string>plastic surgeon</string>
                        <string>podiatrist</string>
                        <string>psychiatrist</string>
                        <string>pulmonologist</string>
                        <string>radiologist</string>
                        <string>reproductive endocrinologist</string>
                        <string>rheumatologist</string>
                        <string>surgeon</string>
                        <string>thoracic oncologist</string>
                        <string>urologist</string>
                        <string>veterinarian</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DoctorKeywords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dr</string>
                        <string>d.r.</string>
                        <string>d.r</string>
                        <string>dds</string>
                        <string>d.d.s.</string>
                        <string>d.d.s</string>
                        <string>dmd</string>
                        <string>d.m.d.</string>
                        <string>d.m.d</string>
                        <string>do</string>
                        <string>d.o.</string>
                        <string>d.o</string>
                        <string>dpm</string>
                        <string>d.p.m.</string>
                        <string>d.p.m</string>
                        <string>faaem</string>
                        <string>f.a.a.e.m.</string>
                        <string>f.a.a.e.m</string>
                        <string>faafp</string>
                        <string>f.a.a.f.p.</string>
                        <string>f.a.a.f.p</string>
                        <string>facc</string>
                        <string>f.a.c.c.</string>
                        <string>f.a.c.c</string>
                        <string>face</string>
                        <string>f.a.c.e.</string>
                        <string>f.a.c.e</string>
                        <string>facep</string>
                        <string>f.a.c.e.p.</string>
                        <string>f.a.c.e.p</string>
                        <string>facg</string>
                        <string>f.a.c.g.</string>
                        <string>f.a.c.g</string>
                        <string>facfas</string>
                        <string>f.a.c.f.a.s.</string>
                        <string>f.a.c.f.a.s</string>
                        <string>facog</string>
                        <string>f.a.c.o.g.</string>
                        <string>f.a.c.o.g</string>
                        <string>facos</string>
                        <string>f.a.c.o.s.</string>
                        <string>f.a.c.o.s</string>
                        <string>facp</string>
                        <string>f.a.c.p.</string>
                        <string>f.a.c.p</string>
                        <string>faccp</string>
                        <string>f.a.c.c.p.</string>
                        <string>f.a.c.c.p</string>
                        <string>facs</string>
                        <string>f.a.c.s.</string>
                        <string>f.a.c.s</string>
                        <string>fasps</string>
                        <string>f.a.s.p.s.</string>
                        <string>f.a.s.p.s</string>
                        <string>fhm</string>
                        <string>f.h.m.</string>
                        <string>f.h.m</string>
                        <string>fics</string>
                        <string>f.i.c.s.</string>
                        <string>f.i.c.s</string>
                        <string>fscai</string>
                        <string>f.s.c.a.i.</string>
                        <string>f.s.c.a.i</string>
                        <string>fsts</string>
                        <string>f.s.t.s.</string>
                        <string>f.s.t.s</string>
                        <string>md</string>
                        <string>m.d.</string>
                        <string>m.d</string>
                        <string>mph</string>
                        <string>m.p.h.</string>
                        <string>m.p.h</string>
                        <string>np</string>
                        <string>n.p.</string>
                        <string>n.p</string>
                        <string>od</string>
                        <string>o.d.</string>
                        <string>o.d</string>
                        <string>pa</string>
                        <string>p.a.</string>
                        <string>p.a</string>
                        <string>phd</string>
                        <string>ph.d.</string>
                        <string>ph.d</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GeneralDoctors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>doctor</string>
                        <string>pcp</string>
                        <string>author</string>
                        <string>dict</string>
                        <string>attend</string>
                        <string>provider</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HCMUT.EMRCorefResol.English.Properties.Settings>
    </userSettings>
</configuration>