<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCMUT.EMRCorefResol.English.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HCMUT.EMRCorefResol.English.Properties.Settings>
            <setting name="PersonStopWords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dr</string>
                        <string>dr.</string>
                        <string>mr</string>
                        <string>ms</string>
                        <string>mrs</string>
                        <string>md</string>
                        <string>m.d.</string>
                        <string>m.d</string>
                        <string>,</string>
                        <string>m</string>
                        <string>m.</string>
                        <string>:</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HCMUT.EMRCorefResol.English.Properties.Settings>
    </userSettings>
</configuration>