<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HCMUT.EMRCorefResol.English.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HCMUT.EMRCorefResol.English.Keywords" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HCMUT.EMRCorefResol.English.Properties.Settings>
            <setting name="DoctorTitles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>audiologist</string>
                        <string>allergist</string>
                        <string>andrologist</string>
                        <string>anesthesiologist</string>
                        <string>cardiologist</string>
                        <string>cardiovascular surgeon</string>
                        <string>clinical neurophysiologis</string>
                        <string>dentist</string>
                        <string>dermatologist</string>
                        <string>dmergency doctors</string>
                        <string>endocrinologist</string>
                        <string>epidemiologist</string>
                        <string>ent specialist</string>
                        <string>family practitioner</string>
                        <string>gastroenterologist</string>
                        <string>gynecologist</string>
                        <string>general psychiatrist</string>
                        <string>hematologist</string>
                        <string>hepatologist</string>
                        <string>immunologist</string>
                        <string>infectious disease specialist</string>
                        <string>internal medicine specialist</string>
                        <string>internist</string>
                        <string>medical geneticist</string>
                        <string>microbiologist</string>
                        <string>neonatologist</string>
                        <string>nephrologists</string>
                        <string>neurologist</string>
                        <string>neurosurgeons</string>
                        <string>obstetrician</string>
                        <string>oncologist</string>
                        <string>ophthalmologist</string>
                        <string>orthodontist</string>
                        <string>orthopedic surgeon</string>
                        <string>orthopedist</string>
                        <string>primatologist</string>
                        <string>pale pathologist</string>
                        <string>parasitologist</string>
                        <string>pathologist</string>
                        <string>pediatrician</string>
                        <string>plastic surgeon</string>
                        <string>physiologist</string>
                        <string>physiatrist</string>
                        <string>plastic surgeon</string>
                        <string>podiatrist</string>
                        <string>psychiatrist</string>
                        <string>pulmonologist</string>
                        <string>radiologist</string>
                        <string>reproductive endocrinologist</string>
                        <string>rheumatologist</string>
                        <string>surgeon</string>
                        <string>thoracic oncologist</string>
                        <string>urologist</string>
                        <string>veterinarian</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HCMUT.EMRCorefResol.English.Properties.Settings>
    </userSettings>
</configuration>